{% extends "base/base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ title|default:'Bills.pk' }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block extrahead %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Bills.pk Dashboard' noop %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
