{% extends "base.html" %}
{% load i18n %}

{% block title %}Add New {{ company.short_name }} Bill Connection | Bills.pk{% endblock %}

{% block bodyclass %}add_company_connection{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li>{% trans 'Dashboard' %}</li>
    <li>{% trans 'Add New Bill Connection' %}</li>
    <li class="active">Add New {{ company.short_name }} Bill Connection</li>
</ol>
{% endblock %}

{% block header %}
<div id="header">
    {% if branch.example_image %}
    <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <h1>
                Add New {{ company.short_name }} Bill Connection
                <br />
                <small>
                    <span class="glyphicon glyphicon-picture"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Show example
                    </a>
                </small>
            </h1>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p style="background: url('{{ branch.example_image }}') no-repeat; height: 400px;" alt="{{ branch }}"></p>
            </div>
        </div>
    </div>
    {% else %}
    <h1>Add New {{ company.short_name }} Bill Connection</h1>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" role="form">{% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.name == 'user' %}
                        <input name="{{ field.name }}" placeholder="{{ field.label }}" value="{{ request.user.id }}" class="form-control" type="{% if field.is_hidden %}hidden{% else %}text{% endif %}" />
                    {% else %}
                        <input name="{{ field.name }}" placeholder="{{ field.label }}" value="{% if field.value and not field.is_hidden %}{{ field.value }}{% endif %}" class="form-control" type="{% if field.is_hidden %}hidden{% else %}text{% endif %}" />
                        <p class="help-block">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="col-md-6">
    </div>
</div>
{% endblock %}
