{% extends "base.html" %}
{% load i18n %}

{% block title %}Add New Bill Connection | Bills.pk{% endblock %}

{% block bodyclass %}add_connection{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li>{% trans 'Dashboard' %}</li>
    <li class="active">{% trans 'Add New Bill Connection' %}</li>
</ol>
{% endblock %}

{% block header %}
<div id="header">
    <h1>Add New Bill Connection</h1><br />
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="" method="post" role="form">{% csrf_token %}
            <div class="form-group">
                <select name="{{ form.branch.name }}" value="{% if form.branch.value %}{{ form.branch.value }}{% endif %}" class="form-control input-lg" onchange="form.submit()">
                    <option value="-1">Select Company Branch</option>
                    {% for city, branches in form.branch.field.choices %}
                        <optgroup label="{{ city }}">
                        {% for id, branch in branches %}
                            <option value="{{ id }}">{{ branch.company.long_name }} ({{ branch.company.short_name }})</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}
