{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}Bill Details | Bills.pk{% endblock %}

{% block bodyclass %}bill_details{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active">{% trans 'Dashboard' %}</li>
    {% if title %} &rsaquo; {{ title }}{% endif %}
</ol>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">

    </div>
</div>

<div class="chart" data-chart-url="{% url 'bill_details_chart' selected_bill.pk %}" data-chart-name="{{ chart_name|upper }}" data-chart-color="#ff7f0e">
    <svg></svg>
</div>

<div class="row">
    {% if selected_bill %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="7">
                    <h4>
                        Selected Bill
                        <div class="pull-right">
                            {{ selected_bill.billing_date|date:"M Y" }}
                        </div>
                    </h4>
                </th>
            </tr>
            <tr>
                <th class="col-md-2">Customer Name</th>
                <th class="col-md-2 text-right">Billing Month</th>
                <th class="col-md-2 text-right">Amount</th>
                <th class="col-md-2 text-right">Dues</th>
                <th class="col-md-2 text-right">Due Date</th>
                <th class="col-md-1">&nbsp;</th>
                <th class="col-md-1">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ selected_bill.customer_name }}</td>
            <td class="text-right">{{ selected_bill.billing_date|date:'M Y' }}</td>
            <td class="text-right">{{ selected_bill.amount|floatformat:0 }}/- Rs.</td>
            <td class="text-right">{{ selected_bill.dues|floatformat:0 }}/- Rs.</td>
            <td class="text-right">{{ selected_bill.due_date }}</td>
            <td class="text-right">
                {% if selected_bill.pdf_url %}
                    <a href="{{ selected_bill.pdf_url }}" class="">Download</a>
                {% endif %}
            </td>
            <td class="col-md-1">&nbsp;</th>
        </tr>
        </tbody>
    <table>
    {% endif %}

    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="7">
                        <h4>
                            Past {% if last_year_bills|length > 12 %}12{% else %}{{ last_year_bills|length }}{% endif %} Months Bills
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">Customer Name</th>
                    <th class="col-md-2 text-right">Billing Month</th>
                    <th class="col-md-2 text-right">Amount</th>
                    <th class="col-md-2 text-right">Dues</th>
                    <th class="col-md-2 text-right">Due Date</th>
                    <th class="col-md-1">&nbsp;</th>
                    <th class="col-md-1">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in last_year_bills %}
            <tr>
                <td>{{ bill.customer_name }}</td>
                <td class="text-right">{{ bill.billing_date|date:'M Y' }}</td>
                <td class="text-right">{{ bill.amount|floatformat:0 }}/- Rs.</td>
                <td class="text-right">{{ bill.dues|floatformat:0 }}/- Rs.</td>
                <td class="text-right">{{ bill.due_date }}</td>
                <td class="text-right">
                    {% if bill.pdf_url %}
                        <a href="{{ bill.pdf_url }}" class="">Download</a>
                    {% endif %}
                </td>
                <td class="col-md-1">&nbsp;</th>
            </tr>
            {% endfor %}
            </tbody>
        <table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts-base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/details.js' %}"></script>
<script type="text/javascript">
    var charts = new Charts();
    charts.renderAll();
</script>
{% endblock %}
