{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}Bill Changes | Bills.pk{% endblock %}

{% block bodyclass %}bill_changes{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active">{% trans 'Dashboard' %}</li>
    {% if title %} &rsaquo; {{ title }}{% endif %}
</ol>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">

    </div>
</div>

{% if connections %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Identifiers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ci in connection_info %}
                        <tr>
                            <td>{{ ci.key }}</td>
                            <td>{{ ci.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form class="form" role="form">
                <select class="form-control" onchange="location=this.options[this.selectedIndex].value;">
                    <option value="/bills/changes/">Change Connection</option>
                    {% for c in connections %}
                        <option value="{% url 'bill_changes' c.id %}">{{ c.id }} - {{ c.branch.company }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="7">
                        <h4>
                            Past {% if bills|length > 12 %}12{% else %}{{ bills|length }}{% endif %} Months Bills
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>Customer Name</th>
                    <th class="text-right">Billing Month</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Amount Change</th>
                    <th class="text-right">Units Actual</th>
                    <th class="text-right">Units Change</th>
                    <th class="text-right">Units Computed</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-right">Unit Price Change</th>
                    <th class="">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.customer_name }}</td>
                <td class="text-right">{{ bill.billing_date|date:'M Y' }}</td>
                <td class="text-right">{{ bill.amount|floatformat:0 }}/- Rs.</td>
                <td class="text-right{% if bill.amount_change >= 0 %} red{% else %} green{% endif %}">
                    {% if bill.amount_change %}
                        {% if bill.amount_change > 0 %}+{% endif %}{{ bill.amount_change|floatformat:0 }}/- Rs.
                    {% endif %}
                </td>
                <td class="text-right">{{ bill.units.billable_units|floatformat:0 }}</td>
                <td class="text-right{% if bill.units.change >= 0 %} red{% else %} green{% endif %}">
                    {% if bill.units.change %}
                        {% if bill.units.change > 0 %}+{% endif %}{{ bill.units.change|floatformat:0 }}
                    {% endif %}
                </td>
                <td class="text-right">{{ bill.units.billable_units_computed|floatformat:0 }}</td>
                <td class="text-right">{{ bill.units.price|floatformat:2 }}</td>
                <td class="text-right{% if bill.units.price_change >= 0 %} red{% else %} green{% endif %}">
                    {% if bill.units.price_change %}
                        {% if bill.units.price_change > 0 %}+{% endif %}{{ bill.units.price_change|floatformat:2 }}/- Rs.
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if bill.pdf_url %}
                        <a href="{{ bill.pdf_url }}" class="">Download</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        <table>
    </div>
</div>
{% endif %}

{% endblock %}
