{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}{{ title }} | Bills.pk{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'libs/nvd3/nv.d3.min.css' %}" />
<script type="text/javascript" src="{% static 'libs/d3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/nvd3/nv.d3.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('a').filter(function() {
            return $(this).text() === 'Share';
        }).click(function(event) {
            event.preventDefault();
            $('.modal iframe').attr('src', $(this).attr('href'));
            $('.modal').modal();
        });
    });
</script>
{% endblock %}

{% block bodyclass %}connections_list{% endblock %}

{% block content_title %}
    <div class="row content_title">
        <div class="col-md-6">
            {% if title %}<h1>{{ title }} ({{ total_conn }})</h1>{% endif %}
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active">{% trans 'Dashboard' %}</li>
    {% if title %} &rsaquo; {{ title }}{% endif %}
</ol>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            {% if allconnections %}
                {% for company, object in allconnections %}
                    <thead>
                        <tr>
                            <th colspan="7">
                                <h4>
                                    {{ company }} ({{ object.connections|length }})</h3>
                                    <div class="pull-right">
                                    </div>
                                </h4>
                            </th>
                        </tr>
                        <tr>
                            <th>Customer Name</th>
                            {% if object.params %}
                                {% for param in object.params %}
                                    <th class="text-right">{{ param.value }}</th>
                                {% endfor %}
                            {% endif %}
                            <th class="">&nbsp;</th>
                            <th class="">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if object.connections %}
                        {% for connection_object in object.connections %}
                        <tr>
                            <td>{{ connection_object.connection.bill_set.all.last.customer_name|default:"Updating..." }}</td>
                            {% if object.params %}
                                {% for bparam in object.params %}
                                    {% for cparam in connection_object.params %}
                                        {% if bparam.key == cparam.key %}
                                            <td class="text-right">{{ cparam.value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <td class="text-right">
                                {% if connection_object.connection.bill_set.all.last.id %}
                                    <a href="{% url 'view_bill_details' connection_object.connection.bill_set.all.last.id %}" class="">Details</a>
                                {% endif %}
                            </td>
                            <td class="col-md-1">
                                {% if connection_object.user.id == request.user.id %}
                                <a href="{% url 'share_connection' connection_object.connection.id %}" class"">Share</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <div>
                                    You don't have any connections from this company.
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Share</h4>
            </div>
            <div class="modal-body">
                <iframe scrolling="no"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
