{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}Dashboard | Bills.pk{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}
    {% if connections_count <= 0 %}
        <div class="alert alert-success jumbotron" role="alert">
            <p>
                Well done! You are one step away from unlocking valuable info from your bills. Add New Bill Connection to proceed.
            </p>
            <br/ >
            <p>
                <b>Pro Tip:</b> Add <i>K-Electric</i> and <i>SSGC</i> connections first to see the magic.
            </p>
        </div>
    {% endif %}

    <div class="row content_title">
        <div class="col-md-6">
            {% if title %}<h1>{{ title }}</h1>{% endif %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1></h1>
                <form method="get" action="" class="col-xs-4 pull-right" role="form">
                    <select name="date" onchange="form.submit()" class="form-control">
                        {% for r in range %}
                            <option value="{{ r|date:'m-Y' }}" {% ifequal r|date:'m-Y' r_date %}selected="selected"{% endifequal %}>{{ r|date:'M Y' }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="well">
    Total Dues <span class="pull-right">{{ total_dues|floatformat:0 }}/- Rs.</span>
</div>

<div class="chart" data-chart-url="{% url 'dashboard_chart' %}">
    <svg></svg>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            {% for b, bills_coll in allbills %}
                <thead>
                    <tr>
                        <th colspan="7">
                            <h4>
                                {{ b|upper }} Bills ({{ bills_coll.bills|length }})
                                {% if bills_coll.latest %} -
                                <span class="badge" data-toggle="tooltip" title="This day is estimated for the arrival of next bill.">{{ bills_coll.latest.created_on|date:"d" }}</span>
                                {% endif %}
                                <div class="pull-right">
                                    {{ bills_coll.bills.0.billing_date|date:'M Y' }}
                                </div>
                            </h4>
                        </th>
                    </tr>
                    <tr>
                        <th class="">Customer Name</th>
                        <th class="text-right">Billing Month</th>
                        <th class="text-right">Dues</th>
                        <th class="text-right">Due Date</th>
                        <th class="text-right">Dues After Due Date</th>
                        <th class="">&nbsp;</th>
                        <th class="">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% if bills_coll.bills %}
                    {% for bill in bills_coll.bills %}
                    <tr>
                        <td>{{ bill.customer_name }}</td>
                        <td class="text-right">{{ bill.billing_date|date:"M, Y" }}</td>
                        <td class="text-right">{{ bill.dues|floatformat:0 }}/- Rs.</td>
                        <td class="text-right">{{ bill.due_date|date:"M d, Y" }}</td>
                        <td class="text-right">{{ bill.after_dues|floatformat:0 }}/- Rs.</td>
                        <td class="text-right">
                            <a href="{% url 'view_bill_details' bill.id %}" class="">More</a>
                        </td>
                        <th class="col-md-1">&nbsp;</th>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">
                            <div>
                                All cleared! No bills to pay.
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            {% endfor %}
        <table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts-base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<script type="text/javascript">
    var charts = new Charts();
    charts.renderAll();

    $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
