<nav class="navbar navbar-default" role="navigation">

  {% if allusers %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <br />
        <form action="" method="post" role="form">{% csrf_token %}
          <div class="form-group">
            <select name="username" class="form-control" onchange="form.submit()">
              {% for u in allusers %}
              <option value="{{ u.username }}" {% if currentuser.id == u.id %}selected="selected"{% endif %}>{{ u.username }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'dashboard' %}">Bills</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'connections' %}">Bill Connections</a>
        </li>
        <li>
          <a href="{% url 'units' %}">Unit Consumption</a>
        </li>
        <li>
          <a href="{% url 'changes' %}">Consolidated View (Ups and Downs)</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ user.first_name|default:user.username|title }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'password_change' %}">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
      <div class="pull-right">
        <a href="{% url 'add_connection' %}" class="btn btn-sm btn-success navbar-btn">Add New Bill Connection</a>
      </div>
    </div>
  </div>
</nav>
