{% extends "base.html" %}

{% load i18n staticfiles tz %}

{% block title %}Your Profile | Bills.pk{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'libs/nvd3/nv.d3.min.css' %}" />
<script type="text/javascript" src="{% static 'libs/d3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/nvd3/nv.d3.min.js' %}"></script>
{% endblock %}

{% block bodyclass %}bill_details{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active">{% trans 'Dashboard' %}</li>
    {% if title %} &rsaquo; {{ title }}{% endif %}
</ol>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table" style="width: 400px;">
            <tbody>
                <tr>
                    <td>
                        First Name
                    </td>
                    <td>
                        {{ object.first_name|default:"-" }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name
                    </td>
                    <td>
                        {{ object.last_name|default:"-" }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        {{ object.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        {{ object.email }}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Stats</h2>
        <table class="table" style="width: 400px;">
            <tbody>
                <tr>
                    <td>
                        User since
                    </td>
                    <td>
                        {{ object.date_joined|timezone:"Asia/Karachi" }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Last login
                    </td>
                    <td>
                        {{ object.last_login|timezone:"Asia/Karachi" }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}
