{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}{{ title }} - Bills.pk{% endblock %}

{% block navbar %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block bodyclass %}share_connection{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for partner in partners %}
                <tr>
                    <td>
                        {{ partner.username|title }}
                    </td>
                    <td>
                        {{ partner.email }}
                    </td>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input name="email" type="hidden" value="{{ partner.email }}" />
                            <button type="submit" name="action" value="delete" class="btn btn-link btn-xs">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">{{ message|capfirst }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="form-share">
        <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="input-group">
                <input name="email" type="email" class="form-control" placeholder="Email address" />
                <div class="input-group-btn">
                    <button type="submit" name="action" value="share" class="btn btn-primary">Share</button>
                </div>
            </div>
        </form>
    </dvi>
{% endblock %}

{% block footer %}
{% endblock %}
