html, body {
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

iframe {
  width: 100%;
  border: none;
}

.navbar {
  margin-bottom: 0;

  .navbar-btn {
    margin-right: 8px;
  }
}

.navbar, .breadcrumb {
  border-radius: 0;
}

.chart {
  height: 350px;
  margin: 1em 0 2em 0;
}

.table {
  width: 100%;
  border: 0;

  tr th, tr td {
    border: 0;
    padding-left: 1.2em;
    padding-right: 1.2em;
    text-align: right;
    font-weight: normal;
  }

  tr th:first-child, tr td:first-child {
    text-align: left;
  }

  thead {
    border-bottom: 2px solid #81BEF7 !important;

    tr th {
      padding-top: 0.8em;
      padding-bottom: 0.8em;
    }

    tr:first-child th {
      border-left: 0;
      border-right: 0;
    }

    tr:last-child {
      color: #959595;
    }
  }
}

.login, .register, .register_closed, .password_reset_form,
.password_reset_done, .password_reset_confirm, .password_reset_complete,
.password_change_form, .password_change_done {
  #header {
    background-color: #cccccc;

    h1 {
      color: #000000;
    }
  }

  #container {
    background: white;
    border: 1px solid #ccc;
    width: 35em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    form {
      margin-top: 1em;

      .submit-row {
        padding: 0;
      }
    }
  }
}

.dashboard {
  .well {
    font-size: 1.5em;
  }
}

.dashboard, .bill_details, .connections_list {
  h4 {
    margin-top: 1em;
    margin-bottom: 0;

    div.pull-right {
      text-transform: uppercase;
    }
  }
}

.content_title {
  a {
    margin-top: 20.5px;
    font-size: 20px;

    span {
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

.connections_list {
  .modal-body {
    height: 300px;
    padding: 0 20px;
  }
  .modal-footer {
    margin-top: 0;
  }
  iframe {
    height: 100%;
  }
}

.share_connection {
  #form-share {
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 15px;
  }
}

.add_company_connection {
  .panel-group {
    margin-bottom: 0;

    .panel {
      border: none;
      box-shadow: none;
    }
  }
}
