{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}Unit Consumption | Bills.pk{% endblock %}

{% block bodyclass %}units{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li>{% trans 'Dashboard' %}</li>
    <li>Unit Consumption</li>
    {% if title %}<li class="active">{{ title }}</li>{% endif %}
</ol>
{% endblock %}

{% block content %}

<div class="chart" data-chart-url="{% url 'bill_units_chart' selected_bill.id %}">
    <svg></svg>
</div>

<div class="row">
    {% if selected_bill %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="7">
                    <h4>
                        Selected Bill
                        <div class="pull-right">
                            {{ selected_bill.billing_date|date:"M Y" }}
                        </div>
                    </h4>
                </th>
            </tr>
            <tr>
                <th class="">Customer Name</th>
                <th class="text-right">Billing Month</th>
                <th class="text-right">Units</th>
                <th class="text-right">Units Change</th>
                <th class="text-right">Units Adjusted</th>
                <th class="text-right">Reading Date</th>
                <th class="">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ selected_bill.customer_name }}</td>
            <td class="text-right">{{ selected_bill.billing_date|date:"M, Y" }}</td>
            <td class="text-right">{{ selected_bill.units.billable_units_computed|floatformat:0 }}</td>
            <td class="text-right{% if selected_bill.units.change >= 0 %} red{% else %} green{% endif %}">{% if selected_bill.units and selected_bill.units.change %}{% if selected_bill.units.change > 0 %}+{% endif %}{{ selected_bill.units.change|floatformat:0 }} ({{ selected_bill.units.percent_change|floatformat:"0" }}%){% endif %}</td>
            <td class="text-right">{{ selected_bill.units.adjusted_units_computed|default:0|floatformat:0 }}</td>
            <td class="text-right">{{ selected_bill.units.current_units_date|date:"M d, Y" }}</td>
            <td class="text-right">
                {% if selected_bill.pdf_url %}
                    <a href="{{ bill.pdf_url }}" class="">Download</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    <table>
    {% endif %}

    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="7">
                        <h4>
                            Past {% if last_year_bills|length > 12 %}12{% else %}{{ last_year_bills|length }}{% endif %} Months Bills
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th class="">Customer Name</th>
                    <th class="text-right">Billing Month</th>
                    <th class="text-right">Units</th>
                    <th class="text-right">Units Change</th>
                    <th class="text-right">Units Adjusted</th>
                    <th class="text-right">Reading Date</th>
                    <th class="">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in last_year_bills %}
            <tr>
                <td>{{ bill.customer_name }}</td>
                <td class="text-right">{{ bill.billing_date|date:"M, Y" }}</td>
                <td class="text-right">{{ bill.units.billable_units_computed|floatformat:0 }}</td>
                <td class="text-right{% if bill.units.change >= 0 %} red{% else %} green{% endif %}">{% if bill.units and bill.units.change %}{% if bill.units.change > 0 %}+{% endif %}{{ bill.units.change|floatformat:0 }} ({{ bill.units.percent_change|floatformat:"0" }}%){% endif %}</td>
                <td class="text-right">{{ bill.units.adjusted_units_computed|default:0|floatformat:0 }}</td>
                <td class="text-right">{{ bill.units.current_units_date|date:"M d, Y" }}</td>
                <td class="text-right">
                    {% if bill.pdf_url %}
                        <a href="{{ bill.pdf_url }}" class="">Download</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        <table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts-base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<script type="text/javascript">
    var charts = new Charts();
    charts.suffix = ' Units';
    charts.renderAll();
</script>
{% endblock %}
