{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}Unit Consumption | Bills.pk{% endblock %}

{% block bodyclass %}units{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li>{% trans 'Dashboard' %}</li>
    {% if title %}<li class="active">{{ title }}</li>{% endif %}
</ol>
{% endblock %}

{% block content %}

<div class="chart" data-chart-url="{% url 'units_chart' %}">
    <svg></svg>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            {% for b, bills in allbills %}
                <thead>
                    <tr>
                        <th colspan="7">
                            <h4>
                                {{ b|upper }} Bills ({{ bills|length }})
                                <div class="pull-right">
                                    {{ bills.0.billing_date|date:'M Y' }}
                                </div>
                            </h4>
                        </th>
                    </tr>
                    <tr>
                        <th class="">Customer Name</th>
                        <th class="text-right">Billing Month</th>
                        <th class="text-right">Units</th>
                        <th class="text-right">Units Change</th>
                        <th class="text-right">Units Adjusted</th>
                        <th class="text-right">Reading Date</th>
                        <th class="">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% if bills %}
                    {% for bill in bills %}
                    <tr>
                        <td>{{ bill.customer_name }}</td>
                        <td class="text-right">{{ bill.billing_date|date:"M, Y" }}</td>
                        <td class="text-right">{{ bill.units.billable_units_computed|floatformat:0 }}</td>
                        <td class="text-right{% if bill.units.change >= 0 %} red{% else %} green{% endif %}">{% if selected_bill.units %}{% if bill.units.change > 0 %}+{% endif %}{{ bill.units.change }} ({{ bill.units.percent_change|floatformat:"0" }}%){% endif %}</td>
                        <td class="text-right">{{ bill.units.adjusted_units_computed|default:0|floatformat:0 }}</td>
                        <td class="text-right">{{ bill.units.current_units_date|date:"M d, Y" }}</td>
                        <td class="text-right">
                            <a href="{% url 'bill_units' bill.id %}" class="">More</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">
                            <div>
                                No data available for this month.
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            {% endfor %}
        <table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts-base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<script type="text/javascript">
    var charts = new Charts();
    charts.suffix = ' Units';
    charts.renderAll();
</script>
{% endblock %}
