html,
body {
  margin: 0;
  padding: 0;
}
.red {
  color: red;
}
.green {
  color: green;
}
iframe {
  width: 100%;
  border: none;
}
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-btn {
  margin-right: 8px;
}
.navbar,
.breadcrumb {
  border-radius: 0;
}
.chart {
  height: 350px;
  margin: 1em 0 2em 0;
}
.table {
  width: 100%;
  border: 0;
}
.table tr th,
.table tr td {
  border: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  font-weight: normal;
}
.table tr th:first-child,
.table tr td:first-child {
  text-align: left;
}
.table thead {
  border-bottom: 2px solid #81BEF7 !important;
}
.table thead tr th {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.table thead tr:first-child th {
  border-left: 0;
  border-right: 0;
}
.table thead tr:last-child {
  color: #959595;
}
.login #header,
.register #header,
.register_closed #header,
.password_reset_form #header,
.password_reset_done #header,
.password_reset_confirm #header,
.password_reset_complete #header,
.password_change_form #header,
.password_change_done #header {
  background-color: #cccccc;
}
.login #header h1,
.register #header h1,
.register_closed #header h1,
.password_reset_form #header h1,
.password_reset_done #header h1,
.password_reset_confirm #header h1,
.password_reset_complete #header h1,
.password_change_form #header h1,
.password_change_done #header h1 {
  color: #000000;
}
.login #container,
.register #container,
.register_closed #container,
.password_reset_form #container,
.password_reset_done #container,
.password_reset_confirm #container,
.password_reset_complete #container,
.password_change_form #container,
.password_change_done #container {
  background: white;
  border: 1px solid #ccc;
  width: 35em;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.login #container form,
.register #container form,
.register_closed #container form,
.password_reset_form #container form,
.password_reset_done #container form,
.password_reset_confirm #container form,
.password_reset_complete #container form,
.password_change_form #container form,
.password_change_done #container form {
  margin-top: 1em;
}
.login #container form .submit-row,
.register #container form .submit-row,
.register_closed #container form .submit-row,
.password_reset_form #container form .submit-row,
.password_reset_done #container form .submit-row,
.password_reset_confirm #container form .submit-row,
.password_reset_complete #container form .submit-row,
.password_change_form #container form .submit-row,
.password_change_done #container form .submit-row {
  padding: 0;
}
.dashboard .well {
  font-size: 1.5em;
}
.dashboard h4,
.bill_details h4,
.connections_list h4 {
  margin-top: 1em;
  margin-bottom: 0;
}
.dashboard h4 div.pull-right,
.bill_details h4 div.pull-right,
.connections_list h4 div.pull-right {
  text-transform: uppercase;
}
.content_title a {
  margin-top: 20.5px;
  font-size: 20px;
}
.content_title a span {
  font-size: 14px;
  margin-right: 5px;
}
.connections_list .modal-body {
  height: 300px;
  padding: 0 20px;
}
.connections_list .modal-footer {
  margin-top: 0;
}
.connections_list iframe {
  height: 100%;
}
.share_connection #form-share {
  position: fixed;
  bottom: 0;
  left: 15px;
  right: 15px;
}
.add_company_connection .panel-group {
  margin-bottom: 0;
}
.add_company_connection .panel-group .panel {
  border: none;
  box-shadow: none;
}
