{% extends "base/base_site.html" %}
{% load i18n admin_static staticfiles filters %}

{% block title %}Login | Bills.pk{% endblock %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{{ block.super }}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
  <form action="{{ app_path }}" method="post" id="login-form" role="form">{% csrf_token %}
    <div class="form-row form-group">
      {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
      <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username|addCls:'form-control' }}
    </div>
    <div class="form-row form-group">
      {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
      <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password|addCls:'form-control' }}
      <input type="hidden" name="this_is_the_login_form" value="1" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link form-group">
      <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
    {% endif %}
    <div class="submit-row form-group">
      <a href="{% url 'registration_register' %}" class="btn btn-link" value="{% trans 'Register' %}">{% trans 'Register' %}</a>
      <div class="pull-right">
        <a href="{% url 'auth_password_reset' %}" class="btn btn-link" value="{% trans 'Reset Password' %}">{% trans 'Reset Password' %}</a>
        <button type="submit" value="{% trans 'Log in' %}" class="btn btn-primary">{% trans 'Log in' %}</button>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    document.getElementById('id_username').focus()
  </script>
</div>
{% endblock %}

{% block footer %}{% endblock %}
