{% extends "base/base_site.html" %}
{% load i18n static staticfiles %}

{% block bodyclass %}password_change_form{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<div id="content-main">
    <form action="" method="post" role="form">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
            {% endif %}

            <h1>{% trans 'Password change' %}</h1>

            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            <fieldset class="">
                <div class="form-group">
                    {{ form.old_password.errors }}
                    <input name="{{ form.old_password.name }}" type="password" placeholder="{% trans 'Old password' %}" class="form-control" />
                </div>

                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <input name="{{ form.new_password1.name }}" type="password" placeholder="{% trans 'New password' %}" class="form-control" />
                </div>

                <div class="form-group">
                {{ form.new_password2.errors }}
                    <input name="{{ form.new_password2.name }}" type="password" placeholder="{% trans 'Password (again)' %}" class="form-control" />
                </div>
            </fieldset>

            <button type="button" class="btn btn-link" onclick="history.back()">Cancel</button>

            <button type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary pull-right">{% trans 'Change my password' %}</button>

            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </div>
    </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
