{% extends "base/base_site.html" %}
{% load i18n filters %}

{% block bodyclass %}password_reset_confirm{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post" role="form">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide form-group">
    <input name="{{ form.new_password1.name }}" type="password" class="form-control" placeholder="{% trans 'New password:' %}" />
</p>
{{ form.new_password2.errors }}
<p class="aligned wide form-group">
    <input name="{{ form.new_password2.name }}" type="password" class="form-control" placeholder="{% trans 'Confirm password:' %}" />
</p>
<p>
    <button type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary">{% trans 'Change my password' %}</button>
</p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}

{% block footer %}{% endblock %}
