{% extends "base/base_site.html" %}
{% load i18n %}

{% block bodyclass %}password_reset_done{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset successful' %}</h1>

<p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}

{% block footer %}{% endblock %}
