{% extends "base/base_site.html" %}
{% load i18n staticfiles %}

{% block bodyclass %}password_change_done{% endblock %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password change successful' %}</h1>

<p>{% trans 'Your password was changed.' %} <a href="{% url 'index' %}">{% trans 'Go back to homepage.' %}</a></p>

{% endblock %}

{% block footer %}{% endblock %}
