{% extends "base/base_site.html" %}
{% load i18n staticfiles filters %}

{% block bodyclass %}password_reset_form{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post" role="form">{% csrf_token %}
{{ form.email.errors }}
<p>
    <div class="form-group">
        {{ form.email|addCls:'form-control' }}
    </div>
    <button type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary pull-right">{% trans 'Reset my password' %}</button>
</p>
</form>

{% endblock %}

{% block footer %}{% endblock %}
