{% extends "base/base_site.html" %}
{% load i18n admin_static staticfiles filters %}

{% block bodyclass %}register{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_register_form.errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_register_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_register_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
    <form action="{{ app_path }}" method="post" id="register-form" role="form">{% csrf_token %}
        <div class="form-row form-group">
          {% if not form.this_is_the_register_form.errors %}{{ form.username.errors }}{% endif %}
          <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username|addCls:'form-control' }}
        </div>
        <div class="form-row form-group">
          {% if not form.this_is_the_register_form.errors %}{{ form.email.errors }}{% endif %}
          <label for="id_email" class="required">{{ form.email.label }}:</label> {{ form.email|addCls:'form-control' }}
        </div>
        <div class="form-row form-group">
          {% if not form.this_is_the_register_form.errors %}{{ form.password1.errors }}{% endif %}
          <label for="id_password1" class="required">{% trans 'Password:' %}</label> {{ form.password1|addCls:'form-control' }}
          <input type="hidden" name="this_is_the_register_form" value="1" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="form-row form-group">
          {% if not form.this_is_the_register_form.errors %}{{ form.password2.errors }}{% endif %}
          <label for="id_password2" class="required">{% trans 'Confirm Password:' %}</label> {{ form.password2|addCls:'form-control' }}
          <input type="hidden" name="this_is_the_register_form" value="1" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
        <div class="password-reset-link form-group">
          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <div class="submit-row form-group">
          <a href="{% url 'login' %}" class="btn btn-link" value="{% trans 'Login' %}">{% trans 'Login' %}</a>
          <button type="submit" value="{% trans 'Register' %}" class="btn btn-primary pull-right">{% trans 'Register' %}</button>
        </div>
    </form>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
</div>
{% endblock %}

{% block footer %}{% endblock %}
